
body{
  margin: 0;
  padding: 0;
  background: #cce565;
  color: #333;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}
header {
  background: #3c3f42;
  color: white;
  padding: 20px 0px;
}

header h1 {
  margin: 10px;

}

nav a {
  color: white;
  margin-right: 90px;
  text-decoration: none;
}

nav a:hover,
li a:hover{
  text-decoration: underline;
}


main .intro{
  background-color: white;
  padding: 30px;
  margin-top: 40px;
  border-radius: 15px;
  box-shadow:2px 5px 10px 3px rgba(0,0,0,0.3)
}

main .work{
  background-color: rgb(202, 170, 170);
  padding: 30px;
  margin-top: 70px;
  border-radius: 15px;
  box-shadow:2px 5px 10px 3px rgba(0,0,0,0.3)
}

main .projects{
  list-style-type: none;
  font-weight: bold;
}

li a{
  text-decoration: none;
  margin-right: 15px;
  margin-left: 15px;
}


footer{
  text-align: center;
  padding: 20px;
  background: #ddd;
  margin-top: 100px;
} 